<mat-card>
    <mat-card-header class="mb-2">
        <mat-card-title class="d-flex align-items-center">
            <mat-icon fontSet="material-symbols-outlined">contact_support</mat-icon><span class="ms-1">Contact</span>
        </mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <mat-divider class="mb-3"></mat-divider>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque semper quam ut fringilla pretium.
            Suspendisse id dui eget nunc fringilla commodo. Aliquam dapibus elementum enim egestas finibus. Vivamus
            sollicitudin sapien ut nisi pretium vulputate. Ut a magna pretium, rutrum orci id, pulvinar risus. Aenean
            efficitur dolor nunc, eu semper velit bibendum in. Nullam sit amet metus nec lacus luctus fringilla. Sed
            lectus mauris, congue vitae blandit at, sollicitudin efficitur ante. Cras volutpat vitae magna ac egestas.
            Curabitur tempus eu augue in pretium. Cras id luctus erat. Vestibulum hendrerit massa ipsum, auctor rutrum
            nunc sagittis consectetur.

            Donec convallis diam urna, non sagittis dolor condimentum nec. In a porttitor dui, at tempus est. Fusce
            eleifend turpis a magna molestie euismod. Curabitur eleifend lobortis enim, in tempor justo hendrerit eu.
            Aenean id enim in odio interdum efficitur quis nec mi. Fusce porttitor quam ut mi ultricies, pulvinar
            venenatis turpis aliquet. Suspendisse id diam porttitor, varius ex id, scelerisque eros. In et nulla eget
            libero efficitur luctus. Integer ac tincidunt ante, in imperdiet purus. In tempus fermentum feugiat.

            Nulla aliquam pretium dictum. Curabitur eu cursus orci, at bibendum eros. Nam eu lacinia sapien, quis mollis
            nulla. In iaculis erat lectus, at lobortis libero sodales sit amet. Donec sed leo dolor. Sed tellus eros,
            posuere in tortor in, feugiat dapibus leo. Suspendisse potenti. Proin dignissim purus eu tortor tempor, sed
            varius enim varius. Donec molestie orci sit amet urna tincidunt, vel eleifend felis fringilla. Cras egestas
            in purus eget venenatis. Pellentesque pharetra sagittis pretium. Proin et lobortis justo. Aliquam iaculis,
            tellus sed ultricies consectetur, leo diam dapibus elit, non iaculis turpis justo eu nulla.

            Vivamus lobortis quis justo sed mollis. Aliquam vel condimentum tortor. Aenean augue orci, molestie ac nibh
            nec, eleifend sodales est. In tristique, dui eu sollicitudin dignissim, mauris nulla pharetra erat, et
            pellentesque velit tellus ac felis. Curabitur et pretium dolor. Quisque tempor turpis odio. Praesent eu
            vulputate lorem. Proin sem odio, pharetra in nulla sit amet, faucibus consequat neque. Morbi at vehicula
            est. Cras blandit tristique gravida. Nullam et porttitor augue. Donec augue ipsum, accumsan quis tellus ac,
            finibus eleifend risus. Vivamus lacinia auctor viverra. Nullam rutrum tincidunt lacinia. Morbi vehicula enim
            et orci hendrerit, vulputate consectetur est malesuada.

            Nulla vulputate rhoncus ante, ac elementum mi faucibus id. Nullam turpis diam, malesuada a condimentum
            lacinia, fringilla vitae lorem. Etiam eu libero in sem dapibus volutpat. In tristique felis ac tincidunt
            tristique. Fusce ac consectetur augue. Proin iaculis egestas molestie. Nullam porta sollicitudin quam ac
            posuere.</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button color="accent">LIKE</button>
        <button mat-button color="accent">SHARE</button>
    </mat-card-actions>
</mat-card>