<div class="mat-typography app-frame mat-app-background">

    <div *ngIf="isBelowLg; then mobile else browser"></div>

    <ng-template #mobile>
        <app-toolbar>
            <span class="spacer"></span>
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button [routerLink]="['/home']" mat-menu-item>
                    <mat-icon fontSet="material-symbols-outlined">home</mat-icon>
                    <span routerLinkActive="underline-white">Home</span>
                </button>
                <button [routerLink]="['/tools']" mat-menu-item>
                    <mat-icon fontSet="material-symbols-outlined">construction</mat-icon>
                    <span routerLinkActive="underline-white">Tools</span>
                </button>
                <button [routerLink]="['/investors']" mat-menu-item>
                    <mat-icon fontSet="material-symbols-outlined">work</mat-icon>
                    <span routerLinkActive="underline-white">Investors</span>
                </button>
                <button [routerLink]="['/about']" mat-menu-item>
                    <mat-icon fontSet="material-symbols-outlined">info</mat-icon>
                    <span routerLinkActive="underline-white">About</span>
                </button>
                <button [routerLink]="['/contact']" mat-menu-item>
                    <mat-icon fontSet="material-symbols-outlined">contact_support</mat-icon>
                    <span routerLinkActive="underline-white">Contact</span>
                </button>
                <mat-divider></mat-divider>
                <div *ngIf="darkThemeActive; then thenBlock else elseBlock"></div>
                <ng-template #thenBlock>
                    <button mat-menu-item (click)="toggleTheme()">
                        <mat-icon fontSet="material-symbols-outlined">sunny</mat-icon>
                        <span>Light theme</span>
                    </button>
                </ng-template>
                <ng-template #elseBlock>
                    <button mat-menu-item (click)="toggleTheme()">
                        <mat-icon fontSet="material-symbols-outlined">dark_mode</mat-icon>
                        <span>Dark theme</span>
                    </button>
                </ng-template>
            </mat-menu>
        </app-toolbar>
    </ng-template>

    <ng-template #browser>
        <app-toolbar>
            <button [routerLink]="['/home']" mat-flat-button color="primary">
                <mat-icon fontSet="material-symbols-outlined">home</mat-icon>
                <span routerLinkActive="underline-white">Home</span>
            </button>
            <button [routerLink]="['/tools']" mat-flat-button color="primary">
                <mat-icon fontSet="material-symbols-outlined">construction</mat-icon>
                <span routerLinkActive="underline-white">Tools</span>
            </button>
            <button [routerLink]="['/investors']" mat-flat-button color="primary">
                <mat-icon fontSet="material-symbols-outlined">work</mat-icon>
                <span routerLinkActive="underline-white">Investors</span>
            </button>
            <button [routerLink]="['/about']" mat-flat-button color="primary">
                <mat-icon fontSet="material-symbols-outlined">info</mat-icon>
                <span routerLinkActive="underline-white">About</span>
            </button>
            <button [routerLink]="['/contact']" mat-flat-button color="primary">
                <mat-icon fontSet="material-symbols-outlined">contact_support</mat-icon>
                <span routerLinkActive="underline-white">Contact</span>
            </button>
            <span class="spacer"></span>
            <div *ngIf="darkThemeActive; then thenBlock else elseBlock"></div>
            <ng-template #thenBlock>
                <button mat-icon-button (click)="toggleTheme()">
                    <mat-icon>sunny</mat-icon>
                </button>
            </ng-template>
            <ng-template #elseBlock>
                <button mat-icon-button (click)="toggleTheme()">
                    <mat-icon>dark_mode</mat-icon>
                </button>
            </ng-template>
        </app-toolbar>
    </ng-template>

    <div class="container mt-3 mb-3">
        <router-outlet></router-outlet>
    </div>
</div>